## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [3]:
import pandas as pd

In [6]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [12]:
data.pivot_table(index = 'sex', aggfunc = 'size')

sex
Female    10771
Male      21790
dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [14]:
data.pivot_table(values='age', index='sex', aggfunc='mean').loc['Male']

age    39.433547
Name: Male, dtype: float64

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [17]:
data.pivot_table(index='native-country', aggfunc='size')['United-States'] / len(data)

np.float64(0.895857006848684)

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [19]:
age_stats = data.pivot_table(
    values='age',
    index='salary',
    aggfunc=['mean', 'std']
)
age_stats

             mean        std
              age        age
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [37]:
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
data['is_higher_ed'] = data['education'].isin(higher_education)

all_high_degree = (data[data['salary'] == '>50K']['is_higher_ed'] == True).all()
print(f"Все ли с доходом >50K имеют высшее образование? {all_high_degree}")

Все ли с доходом >50K имеют высшее образование? False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [38]:
# 7.1 Статистика возраста по расе и полу
age_stats = data.groupby(['race', 'sex'])['age'].describe()
print("Статистика возраста по расе и полу:")
print(age_stats)

# 7.2 Максимальный возраст мужчин Asian-Pac-Islander
max_age_asian_male = data[
    (data['race'] == 'Asian-Pac-Islander') &
    (data['sex'] == 'Male')
]['age'].max()
print(f"\nМаксимальный возраст мужчин Asian-Pac-Islander: {max_age_asian_male} лет")

Статистика возраста по расе и полу:
                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Максимальный возраст мужчин Asian-Pac-Islander: 90 лет

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [39]:
# Создаем колонку для женатых
data['is_married'] = data['marital-status'].str.startswith('Married')

# Берем только мужчин
men = data[data['sex'] == 'Male']

# Считаем процент высоких зарплат в каждой группе
result = men.groupby('is_married')['salary'].apply(
    lambda x: round((x == '>50K').mean() * 100, 2)
).reset_index()

# Переименовываем для понятности
result['status'] = result['is_married'].map({True: 'Женат', False: 'Холост'})

# Результаты
print("Процент мужчин с зарплатой >50K:")
print(result[['status', 'salary']].to_string(index=False, header=['Статус', 'Процент']))

# Определяем, у кого процент выше
if result.loc[0, 'salary'] > result.loc[1, 'salary']:
    print("\nВывод: Среди женатых мужчин доля высокооплачиваемых выше")
else:
    print("\nВывод: Среди холостых мужчин доля высокооплачиваемых выше")

Процент мужчин с зарплатой >50K:
Статус Процент
Холост    8.45
 Женат   44.05

Вывод: Среди холостых мужчин доля высокооплачиваемых выше

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [43]:
max_hours = data['hours-per-week'].max()
max_workers = data[data['hours-per-week'] == max_hours]
high_earners_pct = (max_workers['salary'] == '>50K').mean() * 100

print(f"Максимальное количество рабочих часов в неделю: {max_hours} ч")
print(f"Людей с таким графиком: {len(max_workers)}")
print(f"Из них высокооплачиваемых: {high_earners_pct:.1f}%")

Максимальное количество рабочих часов в неделю: 99 ч
Людей с таким графиком: 85
Из них высокооплачиваемых: 29.4%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [45]:
work_hours = data.pivot_table(
    values='hours-per-week',
    index='native-country',
    columns='salary',
    aggfunc='mean'
).round(1)

# Переименовываем колонки
work_hours.columns = ['До 50K', 'Свыше 50K']

print("Среднее количество рабочих часов в неделю:")
work_hours

Среднее количество рабочих часов в неделю:

                            До 50K  Свыше 50K
native-country
?                             40.2       45.5
Cambodia                      41.4       40.0
Canada                        37.9       45.6
China                         37.4       38.9
Columbia                      38.7       50.0
Cuba                          38.0       42.4
Dominican-Republic            42.3       47.0
Ecuador                       38.0       48.8
El-Salvador                   36.0       45.0
England                       40.5       44.5
France                        41.1       50.8
Germany                       39.1       45.0
Greece                        41.8       50.6
Guatemala                     39.4       36.7
Haiti                         36.3       42.8
Holand-Netherlands            40.0        NaN
Honduras                      34.3       60.0
Hong                          39.1       45.0
Hungary                       31.3       50.0
India                         38.2       46.5
Iran                          41.4       47.5
Ireland                       40.9       48.0
Italy                         39.6       45.4
Jamaica                       38.2       41.1
Japan                         41.0       48.0
Laos                          40.4       40.0
Mexico                        40.0       46.6
Nicaragua                     36.1       37.5
Outlying-US(Guam-USVI-etc)    41.9        NaN
Peru                          35.1       40.0
Philippines                   38.1       43.0
Poland                        38.2       39.0
Portugal                      41.9       41.5
Puerto-Rico                   38.5       39.4
Scotland                      39.4       46.7
South                         40.2       51.4
Taiwan                        33.8       46.8
Thailand                      42.9       58.3
Trinadad&Tobago               37.1       40.0
United-States                 38.8       45.5
Vietnam                       37.2       39.2
Yugoslavia                    41.6       49.5

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [12]:
bins = [0, 16, 35, 70, 150]  # Добавляем нижнюю и верхнюю границы
labels = ['<16', 'young', 'adult', 'retiree']

data['AgeGroup'] = pd.cut(
    data['age'],
    bins=bins,
    labels=labels,
    right=False  # Правые границы не включаются
)
# Выводим первые 10 строк для проверки
data[['age', 'AgeGroup']].head(10)

   age AgeGroup
0   39    adult
1   50    adult
2   38    adult
3   53    adult
4   28    young
5   37    adult
6   49    adult
7   52    adult
8   31    young
9   42    adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [8]:
# Количество высокооплачиваемых по возрастным группам
high_earners_by_age = data[data['salary'] == '>50K'].groupby('AgeGroup', observed=True).size()
print("Количество людей с доходом >50K по возрастным группам:")
print(high_earners_by_age)

# Возрастная группа с наибольшей долей высокооплачиваемых
total_by_age = data.groupby('AgeGroup', observed=True).size()
percentage_high_earners = (high_earners_by_age / total_by_age * 100).round(2)

print("\nДоля высокооплачиваемых по возрастным группам (%):")
print(percentage_high_earners)

max_group = percentage_high_earners.idxmax()
max_percentage = percentage_high_earners.max()

print(f"\nВывод: Наибольшая доля высокооплачиваемых ({max_percentage}%) в группе '{max_group}'")

Количество людей с доходом >50K по возрастным группам:
AgeGroup
young      1488
adult      6240
retiree     113
dtype: int64

Доля высокооплачиваемых по возрастным группам (%):
AgeGroup
young      10.59
adult      34.89
retiree    17.97
dtype: float64

Вывод: Наибольшая доля высокооплачиваемых (34.89%) в группе 'adult'

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [14]:
# Создаем сводную таблицу с нужными агрегациями
occupation_stats = data.groupby('occupation').agg(
    mean_age=('age', 'mean'),           # средний возраст
    min_hours=('hours-per-week', 'min'), # минимальное количество часов
    count=('age', 'size')               # количество человек
).reset_index()

# Функция фильтрации
def filter_func(group_stats):

    return (group_stats['mean_age'] <= 40) & (group_stats['min_hours'] > 5)

# Применяем фильтрацию
filtered_occupations = occupation_stats[occupation_stats.apply(filter_func, axis=1)]

# Результат
print("Группы, соответствующие условиям:")
print(f"Всего групп: {len(filtered_occupations)}")
filtered_occupations

Группы, соответствующие условиям:
Всего групп: 1

     occupation   mean_age  min_hours  count
2  Armed-Forces  30.222222          8      9